###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site/
/ntfy/api/
/ntfy/apidoc/
/ntfy/articles/
/ntfy/images/
/ntfy/src/
/ntfy/index.md
/ntfy/log.txt
/ntfy/toc.yml
lib/
.DS_Store